@charset "utf-8";
* {
   box-sizing: border-box;
}

body {
   text-align: center;
   font-family: 'Noto Serif JP', serif;
   margin: 0;
   padding: 0;
   letter-spacing : 0.2em;
}

/* Topここから */
header {
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
   z-index: 999;
}
a {
   text-decoration: none;
   color: #000;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   margin: 0 0 0 30px;
   font-size: 14px;
}
li:hover {
   opacity: 0.2;
}
.sp-nav {
   display: none;
}

@media screen and (max-width: 640px) {
   .pc-nav {
      display: none;
      z-index: 1;
   }
   .sp-nav {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, .8);
      opacity: 0;
      transform: translateY(-100%);
      transition: all .2s ease-in-out;
   }
   #hamburger {
      position: relative;
      display: block;
      width: 30px;
      height: 25px;
      margin: 0 0 0 auto;
   }
   #hamburger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: translateY(-50%);
   }
   #hamburger::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
   }
   #hamburger::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: #000;
   }
   /*スマホメニュー*/
   .sp-nav ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      z-index: 200;
   }

   .sp-nav li {
      margin: 0;
      padding: 0;
   }
   .sp-nav li a {
      color: #fff;
   }
   .sp-nav li span {
      cursor: pointer;
      font-size: 15px;
      color: #fff;
   }
   .sp-nav li a, .sp-nav li span {
      display: block;
      padding: 20px 0;
   }
   /*-閉じるアイコンー*/
   .sp-nav .close {
      position: relative;
      padding-left: 20px;
   }
   .sp-nav .close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( 45deg );
   }
   .sp-nav .close::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( -45deg );
   }
   .toggle {
      transform: translateY( 0 );
      opacity: 1;
   }

}
/* Topここまで */



/* nyanya_top */
.page_title {
   margin: 10em 0 0 0;
}
.main_img {
   width: 65%;
   margin: 5em auto;
}
.main_img img {
   width: 100%;
}
.page_text {
   line-height: 2;
   width: 80%;
   margin: 2em auto;
}
@media (max-width: 768px) {
   .page_text {
      text-align: left;
   }
   .page_text br {
      display: none;
   }
}
/* nyanya_top */



/* view_area */
.view_area {
   width: 100%;
   text-align: center;
}
.view_flex {
   display: flex;
   flex-wrap: wrap;
   gap: 2em;
   margin: 5em auto;
   justify-content: center;
   width: 80%;
}
.long {
   width: 50%;
}
.long img {
   width: 100%;
   box-shadow:2px 2px 5px #c2c2c2;
}
.long_text {
   width: 40%;
   text-align: left;
}
.long_text h3 {
   margin-bottom: 0;
   font-size: 1em;
}
.long_text h3::before {
   content: "●";
   color: #D7ECE5;
}
.long_text p {
   margin-top: 0.2em;
   margin-bottom: 12em;
   font-size: 1em;
   padding-left: 1.1em;
}
@media (max-width: 768px) {
   .view_flex {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
   }
   .long {
      width: 100%;
   }
   .long img {
      width: 100%;
   }
   .long_text {
      width: 100%;
      text-align: left;
   }
   .long_text p {
      margin-bottom: 2em;
   }
}
/* view_area */




/* footerここから */
footer {
   height: 50px;
   text-align: center;
}
/* footerここまで */